* @domire8

/.github/ @eeberhard
/python/ @yrh012
/schemas/ @eeberhard

/docs/docs/getting-started/ @rrosa24 @eeberhard
/docs/docs/concepts/ @eeberhard
/docs/docs/reference/ @eeberhard @yrh012
/docs/static/schemas/ @eeberhard
/docs/core/examples/ @yrh012 @SprGrf
/docs/core_versioned_docs/*/examples/ @yrh012 @SprGrf
/docs/core/studio/ @eeberhard
/docs/core_versioned_docs/*/studio/ @eeberhard