:root {
  --ifm-color-primary: #006CF0;
  --ifm-color-primary-dark: #0049A3;
  --ifm-color-primary-darker: #00387D;
  --ifm-color-primary-darkest: #002756;
  --ifm-color-primary-light: #2984F2;
  --ifm-color-primary-lighter: #529BF5;
  --ifm-color-primary-lightest: #7AB3F7;
  --docusaurus-highlighted-code-line-bg: #E8E8F2;
}

[data-theme='dark'] {
  --ifm-true-background-color: #1A1D25;
  --ifm-background-color: #1A1D25;
  --ifm-background-accent-color: #424250;
  --ifm-control-color: var(--ifm-background-accent-color);
  --ifm-text-accent-color: #2984F2;
  --ifm-text-primary-color: #FFFFFF;
  --ifm-text-secondary-color: #D2D2DF;

  --ifm-color-primary: var(--ifm-text-accent-color);
  --ifm-background-surface-color: var(--ifm-background-color);
  --ifm-hover-overlay: var(--ifm-background-accent-color);
  --docusaurus-highlighted-code-line-bg: var(--ifm-text-accent-color);
}

.footer {
  background-color: #0F0F14;
}

[data-theme='dark'] .footer {
  background-color: #0F0F14;
}

[data-theme='dark'] .themedSVG {
  filter: invert(93%) hue-rotate(180deg);
  -webkit-filter: invert(93%) hue-rotate(180deg);
}

.inlineEdgeHandleSVG {
  margin-bottom: -7px;
}


.theme-doc-sidebar-item-category-level-1 > .menu__list-item-collapsible {
  background-color: transparent;
}

/* Section Title */
.theme-doc-sidebar-item-category-level-1 > .menu__list-item-collapsible > .menu__link {
  color: black;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  font-weight: bold;
  margin: 0.5rem 0;
  padding: 1rem 0.5rem 0 0.5rem;
  border-radius: 0;
  transition: all 0.25s ease;
  background-color: transparent;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
}

[data-theme='dark'] .theme-doc-sidebar-item-category-level-1 > .menu__list-item-collapsible > .menu__link {
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.theme-doc-sidebar-item-category-level-1 > .menu__list-item-collapsible > .menu__link:hover {
  color: var(--ifm-color-primary-light);
  background-color: transparent;
  transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
}

/* Remove top border on the first sidebar section */
.theme-doc-sidebar-item-category-level-1:first-child 
  > .menu__list-item-collapsible 
  > .menu__link {
  border-top: none;
  margin-top: 0;
}
