.heroBanner {
	background: var(--ifm-true-background-color);
	color: var(--ifm-text-primary-color);
	padding: 4rem 0;
	text-align: center;
	position: relative;
	overflow: hidden;
}

@media screen and (max-width: 996px) {
	.heroBanner {
		padding: 2rem;
	}
}

.centered {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

/* FAQ */
.faqCard {
	border: 1px solid var(--ifm-color-emphasis-200);
	border-radius: 8px;
	padding: 1rem;
	background: var(--ifm-background-surface-color);
	cursor: pointer;
	transition: border-color 0.3s ease, box-shadow 0.3s ease; /* smooth transition */
	margin-bottom: 1rem;
}

.faqCard:hover {
	border-color: rgba(45, 106, 232, 0.7);
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08); 
}

.faqCard.open {
	border-color: #2d6ae8; 
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
}

.faqHeader {
	font-weight: 600;
	font-size: 1.1rem;
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.faqToggle {
	font-weight: 600;
	display: inline-block;
	transition: transform 0.2s ease-in-out;
}

.faqToggle.open {
  	transform: rotate(45deg);
}

/* === Resource Item === */
.item {
  padding: 1.25rem 0;
  border-top: 1px solid #45444b;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  align-items: start;
}

.itemTitle {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--ifm-link-color);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
}

.itemTitle:hover {
  text-decoration: underline;
}

.itemDescription {
  font-size: 1rem;
  opacity: 0.85;
  margin-top: 0.25rem;
}

.itemImage {
  width: 320px;
  height: auto;
  border-radius: 8px;
}