name: Build & Publish docs

on:
  workflow_dispatch:

jobs:
  build:
    name: Build & Publish docs

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # Build Docusaurus
      - name: Cache Bun dependencies
        uses: actions/cache@v4
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-bun-${{ hashFiles('docs/bun.lock') }}
          restore-keys: |
            ${{ runner.os }}-bun-

      - name: Cache docusaurus
        uses: actions/cache@v4
        with:
          path: |
            docs/.docusaurus
          key: |
            ${{ runner.os }}-docusaurus
          restore-keys: |
            ${{ runner.os }}-docusaurus

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: "1.3"

      - name: Install dependencies
        run: |
          bun ci --cwd docs

      - name: Lint / Formatting
        run: |
          bun run --cwd docs typecheck
          # TODO: should add more in the future if needed

      - name: Build
        run: |
          bun run --cwd docs build

      # Fetch API documentation
      - uses: aica-technology/.github/.github/actions/login-to-ghcr@v0.6.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: aica-technology/.github/.github/actions/ghcr-ensure-prefix@v0.6.1
        id: ensure-image
        with:
          image_name: aica-technology/api-server-docs

      - name: Get API version to fetch
        id: api-version
        run: |
          VER="$(cat docs/api.version)"
          echo "Version: $VER"
          echo "version=$VER" >> $GITHUB_OUTPUT

      - name: Create directory
        run: |
          mkdir -p docs/build/api

      - name: Extract Swagger from the built image
        uses: aica-technology/.github/.github/actions/docker-extract@v0.6.1
        with:
          image: ${{ steps.ensure-image.outputs.image_name }}:${{ steps.api-version.outputs.version }}
          source: /
          destination: docs/build/api/

      # Deploy to GitHub Pages
      - name: Deploy
        if: github.event_name == 'workflow_dispatch' || (github.event_name == 'push' && github.ref_name == 'main')
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/build
