name: Check Python code
on:
  push:
    paths:
      - "python/**"

jobs:
  vet:
    name: Vet
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: python
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.2"
      - name: Vet code
        run: |
          make vet
